<h1> All LootTypes</h1>
<hr/>

<% @loot_types.each do |loot_type| %>
  <div class="row">
    <div class="col-md-2">
      <section class="author_info center">
        <%= gravatar_for loot_type.image %>
      </section>
    </div>
    <div class="col-lg-6 well">
      <h4><%= link_to loot_type.name, loot_type_path(loot_type) %> </h4>
      <p><%= article.title %></p>
      <p>
        <span class="quiet"><small><%= time_ago_in_words(article.created_at) %></small></span>
      </p>
    </div>

    <div class="col-md-4">
      <%= image_tag(loot_type.image_url, size: "250x150", class: "gravatar") if loot_type.image_url? %>
    </div>

  </div>
  <hr/>
<% end %>