<p>
<h1>Create a New LootType</h1>

<hr/>

<% if @loot_type.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5>Please correct the following errors:</h5>
      <ul>
        <% @loot_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%=  form_for(@loot_type, html: { multipart: true }) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <span class="picture">
                    <%= f.file_field :image_url, accept: 'image/jpeg, image/gif, image/png' %>
                </span>

      <%= f.submit 'Create LootType', class: "btn btn-success" %>

    <% end %>
  </div>
</div>
</p>